body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  font-family: 'Roboto', sans-serif;
  padding: 0 13px;
}

.menu__link:last-child {
  padding-right: 0;
}

.content {
  padding-top: 246px;
}

.content__title {
  margin-bottom: 40px;
}

.content__desscription {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 41px;
}

.content__button {
  font-family: 'Roboto', sans-serif;
}
