body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__link:hover {
  opacity: .6;
  -webkit-transform: rotateZ(8deg);
  -ms-transform: rotateZ(8deg);
  transform: rotateZ(8deg);
}

.menu__link::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s;
}

.menu__link:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__link:hover::after,.menu__link_active::after {
  opacity: 1;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.content {
  padding-top: 246px;
}

.content__title {
  margin-bottom: 40px;
}

.content__desscription {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 41px;
}

.content__button {
  font-family: 'Roboto', sans-serif;
}
