body {
  margin: 0;
  border: dashed 1px red;
}
.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}
.header {
  display: flex;
  justify-content: space-between;
  border: dashed 1px red;
}
.logo, .menu {
  border: dashed 1px red;
}
.logo {
  padding: 40px 0;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__link {
  font-family: 'Roboto', sans-serif;
  padding: 0 13px;
  border: dashed 1px red;
}
.menu__link:last-child {
  padding-right: 0;
}
.content__desscription {
  font-family: 'Roboto', sans-serif;
}
.content__button {
  font-family: 'Roboto', sans-serif;
}
